*{
    margin:0px;
    padding:0px;
   

}
*, *::before, *::after {
    box-sizing: border-box;
    
  } 

#navBar{
    position: absolute;
    width:100%;
    background-color:rgba(24,159,92,1);
    padding: 3px;
  
}
#navBar li{
    list-style: none;
} 
#navBar img{
    border-radius: 8px;
    width: 25%;
    height: 10%;
    max-width: 25%;
   
} 
